.card{
    width: 50%;
    height: 300px;
    margin: 10% 0px 0px 25%;
}
/* media for card */
@media (max-width:998px){
    .profile{
        margin-left: 35px;
    }
}

@media (max-width:600px ){
    .card{
        width: 300px;
        height: 300px;
       /* border: 2px solid red; */
       margin: auto;
       margin-top: 20%;
    }
}