.card{
    width: 50%;
    height: 300px;
    margin: 10% 0px 0px 25%;
}
/* subpurchase */
footer {
    position: sticky;
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px 0;

  }
  
  .footer-content {
    max-width: 1400px; /* Set a maximum width for the content within the footer */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;

    /* Center the content horizontally */
  }
  .footer-content:hover{
    color: blue;
  }
/* media for card */
@media (max-width:998px){
    .profile{
        margin-left: 35px;
    }
}

@media (max-width:600px ){
    .card{
        width: 300px;
        height: 300px;
       /* border: 2px solid red; */
       margin: auto;
       margin-top: 20%;
    }

    @media (max-width:600px ){
        #drndiv{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 1fr;
            gap: 20px;
            justify-content: space-evenly;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }}